// 引用字型
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

// 色票定義
$primary-color: #AC9E91;
$secondary-color: #E40505;
$brown_deep: #A78667;
$brown_light: #F1ECE8;
$white: #fff;
$black: #32302C;
$grey66: #666666;
$grey9F: #9F9F9F;
$greyD4: #D4D4D4;
$greyE9: #E9E9E9;
$greyF7: #F7F7F7;
$title_bg: linear-gradient(90deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.10) 100%);
// --------------------------
// 重複css
@mixin flex($j: center, $a: center) {
    display: flex;
    justify-content: $j;
    align-items: $a;
}
@mixin box-shadow {
    box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.12);
}
@mixin text-shadow {
    filter: drop-shadow(0px 0px 0.25rem rgba(0, 0, 0, 0.12));
}
@mixin media-breakpoint-up($size) {
    @media (min-width: $size) {
        @content;
    }
}
// --------------------------
// 全域設定
* {
    font-family: 'Inter', 微軟正黑體, sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    color: $black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: none;
    outline: none;

    &:focus,
    &:active {
        border: none;
        outline: none;
    }
}
p {
    margin: 0;
}
.subTitle {
    @include flex(flex-start, center);
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
a {
    color: $black;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: initial;
}
button {
    color: initial;
    &:hover {
        color: initial;
        filter: brightness(0.9);
    }
}
// --------------------------
// topArea
.topArea {
    background-color: $primary-color;
    .textBox {
        @include flex;
        gap: 0.25rem;
        font-size: 0.875rem;
        color: $white;
        margin-left: 0.5rem;
        padding: 0.25rem;
    }
    .textBox span {
        font-size: 1rem;
        color: $white;
    }
}
// --------------------------
// header
nav {
    background-color: $white;
    border-bottom: 1px solid $greyE9;
    #navbarNav {
        @include flex(space-between, center);
    }
    .navbar-nav {
        @include flex;
        gap: 1rem;
        .nav-item a {
            font-size: 0.875rem;
            color: $black !important;
            white-space: nowrap;
        }
        .nav-item a.active {
            color: $secondary-color !important;
        }
        .searchbar {
            @include flex;
            gap: 0.25rem;
            padding: 0.25rem;
            border-bottom: 1px solid $greyD4;
        }
        .searchbar span {
            color: $grey9F;
        }
        .searchbar input {
            padding: 0;
            background-color: transparent;
        }
    }
    .userTools {
        @include flex;
        gap: 1.5rem;
        .like, .signin {
            @include flex;
            gap: 0.25rem;
            white-space: nowrap;
        }
        .cart {
            position: relative;
        }
        .cart .number {
            position: absolute;
            top: -0.5rem;
            left: 1rem;
            background-color: $greyD4;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            border-radius: 50%;
            font-weight: 700;
            font-size: 0.875rem;
        }
    }
}
// --------------------------
// banner
.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    .container {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }
}
.slider {
    max-width: 1335px;
    margin: 0 auto;
    span {
        position: absolute;
        top: 50%;
        font-size: 48px;
        z-index: 5;
        right: 0;
        cursor: pointer;
    }
    span.prev:nth-child(1) {
        left: 0;
    }
    .slick-list {
        overflow: inherit !important;
    }
    .slick-slide {
        padding: 0 0.25rem;
        img {
            width: 100%;
        }
    }
}
.titleBox {
    @include flex(center,flex-start);
    flex-direction: column;
    background-color: $title_bg;
    backdrop-filter: blur(0.3rem);
    width: 50%;
    height: 100%;
    padding-left: 2.5rem;
    .flex {
        @include flex;
        
    }
    h1 {
        color: $white;
        word-wrap: break-word;
        @include text-shadow;
    }
    h1:nth-child(1){
        font-weight: 700;
    }
    .searchbar {
        @include flex;
        gap: 0.5rem;
        background-color: $white;
        border-radius: 0.3rem;
        padding: 0.75rem;
    }
}
// --------------------------
// items
.items {
    background-color: $greyF7;
    padding: 1.5rem 0;
    
    .itemList {
        @include flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5rem;
        li {
            @include flex;
            flex-direction: column;
            gap: 0.5rem;
            width: calc( 100% / 6 );
            color: $grey66;
            font-size: 0.875rem;
        }
    }
}
// --------------------------
// newProd、hotProd
.newProd, .hotProd {
    background-color: $white;
    padding: 4rem 0;
    overflow: hidden;
    .container {
        position: relative;
    }
    .responsive {
        padding-bottom: 3rem;
    }
    span.prev {
        position: absolute;
        top: 30%;
        left: -1rem;
        z-index: 2;
        cursor: pointer;
        background-color: $white;
        border-radius: 50%;
        padding: 0.5rem;
        @include box-shadow;
    }
    span.next {
        position: absolute;
        top: 30%;
        // font-size: 48px;
        z-index: 2;
        right: 0;
        cursor: pointer;
        background-color: $white;
        border-radius: 50%;
        padding: 0.5rem;
        @include box-shadow;
    }
    .slick-list {
        overflow: inherit !important;
    }
    .slick-slide {
        margin-right: 1.5rem;
        img {
            width: 100%;
            margin-bottom: 0.5rem;
            border: solid 1px $greyF7;
        }
        .content {
            @include flex(center,flex-start);
            flex-direction: column;
        }
        .name {
            font-size: 0.875rem;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 2.7rem;
        }
    }
    .name {
        font-size: 0.875em;
    }
    .evaluate {
        @include flex;
        gap: 0.3rem;
        font-size: 0.875rem;
        .stars {
            color: $primary-color;
            font-size: 1.2rem;
        }
        span {
            color: $grey66;
        }
    }
    .newProd-bg {
        width: 85%;
        height: 70%;
        background-color: $brown_light;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
// --------------------------
// cardGroup
.cardGroup {
    .cardBox {
        position: relative;
        padding: 0;
        img {
            width: 100%;
        }
    }
    .card-text {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.5rem;
        h3 {
            color: $white;
            @include text-shadow;
        }
        .openItem {
            @include flex(flex-start, center);
            @include text-shadow;
            color: $white;
        }
        .openItem span {
            color: $white;
        }
    }
}
// --------------------------
// video
.video {
    padding: 4rem 0;
    .container {
        text-align: center;
        @include flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    iframe {
        width: 100%;
        height: 100%;
        max-width: 960px;
        min-height: 540px;
    }
    button {
        background-color: $secondary-color;
        color: $white;
        &:hover {
            color: $white;
        }
    }
    
}
// --------------------------
// info
.info {
    padding: 4rem 0 1.5rem;
    background-color: $greyF7;
    margin-bottom: 0.5rem;
    .row {
        @include flex;
        flex-wrap: wrap;
        max-width: 67.24rem;
        margin: 0 auto;
    }
    .infoBox {
        @include flex;
        flex-direction: column;
        .info-text {
            text-align: center;
            padding: 0 2rem;
            margin-bottom: 2.5rem;
        }
        h6 {
            font-weight: bold;
        }
        p {
            font-size: 0.875rem;
        }
    }

}
// --------------------------
// footer
footer {
    padding: 2.5rem 0 1.5rem;
    background-color: $brown_light;
    .row {
        @include flex(center,flex-start);
        flex-wrap: wrap;
        max-width: 67.24rem;
        margin: 0 auto;
    }
    .f_nav {
        @include flex(center,flex-start);
        flex-wrap: nowrap;
    }
    .f_navData {
        @include flex(center, flex-start);
        flex-direction: column;
        gap: 0.2rem;
        width: 100%;
        h6 {
            font-weight: bold;
            color: $grey66;
        }
        li a {
            font-size: 0.875rem;
            color: $grey66;
        }
    }
    .aboutme {
        @include flex(center,flex-start);
        flex-direction: column;
        gap: 1.5rem;
    }
    .media {
        h6 {
            font-size: 0.875rem;
            color: $grey66;
            font-weight: 700;
            margin-bottom: 0.5rem;
            display: block;
        }
        ul {
            @include flex(flex-start,center);
            gap: 1rem;
        }
        li {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $grey9F;
            border-radius: 50%;
            @include flex;
        }
        li:hover {
            background-color: $brown_deep;
        }
    }
    .contact {
        span {
            font-size: 0.875rem;
            display: block;
            color: $grey66;
        }
    }

    .f_bottom {
        border-top: 1px solid $greyD4;
        padding-top: 1rem;
        margin-top: 1rem;
    }
    .coptright {
        font-size: 0.875rem;
        color: $grey66;
        white-space: nowrap;
        img {
            margin-right: 1rem;
        }
    }
    .payment {
        @include flex(flex-end, center);
        gap: 0.75rem;
    }
}
// --------------------------


@include media-breakpoint-up(sm) {
    

    footer .row {
        // max-width: 100%;
    }
}