@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
* {
  font-family: "Inter", 微軟正黑體, sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  color: #32302C;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
  outline: none;
}
input:focus, input:active {
  border: none;
  outline: none;
}

p {
  margin: 0;
}

.subTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

a {
  color: #32302C;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: initial;
}

button {
  color: initial;
}
button:hover {
  color: initial;
  filter: brightness(0.9);
}

.topArea {
  background-color: #AC9E91;
}
.topArea .textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.5rem;
  padding: 0.25rem;
}
.topArea .textBox span {
  font-size: 1rem;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #E9E9E9;
}
nav #navbarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav .navbar-nav .nav-item a {
  font-size: 0.875rem;
  color: #32302C !important;
}
nav .navbar-nav .nav-item a.active {
  color: #E40505 !important;
}
nav .navbar-nav .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid #D4D4D4;
}
nav .navbar-nav .searchbar span {
  color: #9F9F9F;
}
nav .navbar-nav .searchbar input {
  padding: 0;
  background-color: transparent;
}
nav .userTools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
nav .userTools .like, nav .userTools .signin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
nav .userTools .cart {
  position: relative;
}
nav .userTools .cart .number {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  background-color: #D4D4D4;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 0.875rem;
}

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner .container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.slider {
  max-width: 1335px;
  margin: 0 auto;
}
.slider span {
  position: absolute;
  top: 50%;
  font-size: 48px;
  z-index: 2;
  right: 0;
}
.slider span.prev:nth-child(1) {
  left: 0;
}
.slider .slick-list {
  overflow: inherit !important;
}
.slider .slick-slide {
  padding: 0 0.25rem;
}
.slider .slick-slide img {
  width: 100%;
}

.titleBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  width: 50%;
  height: 100%;
  padding-left: 2.5rem;
}
.titleBox .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleBox h1 {
  color: #fff;
  word-wrap: break-word;
  filter: drop-shadow(0px 0px 0.25rem rgba(0, 0, 0, 0.12));
}
.titleBox h1:nth-child(1) {
  font-weight: 700;
}
.titleBox .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.75rem;
}

.items {
  background-color: #F7F7F7;
  padding: 1.5rem 0;
}
.items .itemList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
.items .itemList li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 16.6666666667%;
  color: #666666;
  font-size: 0.875rem;
}

.newProd, .hotProd {
  background-color: #fff;
  padding: 4rem 0;
  overflow: hidden;
}
.newProd .container, .hotProd .container {
  position: relative;
}
.newProd .responsive, .hotProd .responsive {
  padding-bottom: 3rem;
}
.newProd span.prev, .hotProd span.prev {
  position: absolute;
  top: 30%;
  left: -1rem;
  z-index: 2;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.12);
}
.newProd span.next, .hotProd span.next {
  position: absolute;
  top: 30%;
  z-index: 2;
  right: 0;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.12);
}
.newProd .slick-list, .hotProd .slick-list {
  overflow: inherit !important;
}
.newProd .slick-slide, .hotProd .slick-slide {
  margin-right: 1.5rem;
}
.newProd .slick-slide img, .hotProd .slick-slide img {
  width: 100%;
  margin-bottom: 0.5rem;
  border: solid 1px #F7F7F7;
}
.newProd .slick-slide .content, .hotProd .slick-slide .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.newProd .slick-slide .name, .hotProd .slick-slide .name {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.7rem;
}
.newProd .name, .hotProd .name {
  font-size: 0.875em;
}
.newProd .evaluate, .hotProd .evaluate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.875rem;
}
.newProd .evaluate .stars, .hotProd .evaluate .stars {
  color: #AC9E91;
  font-size: 1.2rem;
}
.newProd .evaluate span, .hotProd .evaluate span {
  color: #666666;
}
.newProd .newProd-bg, .hotProd .newProd-bg {
  width: 85%;
  height: 70%;
  background-color: #F1ECE8;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cardGroup .cardBox {
  position: relative;
  padding: 0;
}
.cardGroup .cardBox img {
  width: 100%;
}
.cardGroup .card-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
}
.cardGroup .card-text h3 {
  color: #fff;
  filter: drop-shadow(0px 0px 0.25rem rgba(0, 0, 0, 0.12));
}
.cardGroup .card-text .openItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  filter: drop-shadow(0px 0px 0.25rem rgba(0, 0, 0, 0.12));
  color: #fff;
}
.cardGroup .card-text .openItem span {
  color: #fff;
}

.video {
  padding: 4rem 0;
}
.video .container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.video iframe {
  width: 100%;
  height: 100%;
  max-width: 960px;
  min-height: 540px;
}
.video button {
  background-color: #E40505;
  color: #fff;
}
.video button:hover {
  color: #fff;
}

.info {
  padding: 4rem 0 1.5rem;
  background-color: #F7F7F7;
  margin-bottom: 0.5rem;
}
.info .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 67.24rem;
  margin: 0 auto;
}
.info .infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info .infoBox .info-text {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
}
.info .infoBox h6 {
  font-weight: bold;
}
.info .infoBox p {
  font-size: 0.875rem;
}

footer {
  padding: 2.5rem 0 1.5rem;
  background-color: #F1ECE8;
}
footer .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 67.24rem;
  margin: 0 auto;
}
footer .f_nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
footer .f_navData {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}
footer .f_navData h6 {
  font-weight: bold;
  color: #666666;
}
footer .f_navData li a {
  font-size: 0.875rem;
  color: #666666;
}
footer .aboutme {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
footer .media span {
  font-size: 0.875rem;
  color: #666666;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 0.5rem;
  display: block;
}
footer .media ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
footer .media li {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #9F9F9F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .media li:hover {
  background-color: #A78667;
}
footer .contact span {
  font-size: 0.875rem;
  display: block;
  color: #666666;
}
footer .f_bottom {
  border-top: 1px solid #D4D4D4;
  padding-top: 1rem;
  margin-top: 1rem;
}
footer .coptright {
  font-size: 0.875rem;
  color: #666666;
}
footer .coptright img {
  margin-right: 1rem;
}
footer .payment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}/*# sourceMappingURL=style.css.map */